* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('187161.jpg');
    background-size: 100% auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    /* background-color: aquamarine; */
}

/* header h1 {
    font-family: 'Monoton';font-size: 50px;
} */

.neonText {
    color: #F7E9FF;
    text-shadow:
        0 0 7px #F7E9FF,
        0 0 7px #EFD4FF,
        0 0 10px #E7BEFF,
        0 0 21px #DFA8FF,
        0 0 42px #7171FF,
        0 0 82px #F7E9FF,
        0 0 92px #F7E9FF,
        0 0 102px #F7E9FF,
        0 0 151px #3E3ECC;
  }
  
  /* Additional styling */
    
  body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
  }  
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  h1 {
      font-size: 3.5rem;
  }
  
  .container {
    margin-top: 20vh;
  }

  .pulsate {
    animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #F7E9FF,
        0 0 11px #F7E9FF,
        0 0 19px #F7E9FF,
        0 0 40px #7171FF,
        0 0 80px #7171FF,
        0 0 90px #7171FF,
        0 0 100px #7171FF,
        0 0 150px #7171FF;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #B8B8FF,
      0 0 10px #B8B8FF,
      0 0 45px #7171FF,
      0 0 55px #4D4DFF,
      0 0 70px #4D4DFF,
      0 0 80px #4D4DFF;
  
  }
}

header nav {
    padding-left: 10px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-left: 10px;
    border-bottom: 2px solid;
    font-size: 25px;
}

main {
    height: 400px;
}

article {
    display: flex;
    justify-content: center;
    padding: 10px;
}

article div p {
    width: 1000px;
}

.title {
    display: flex;
    justify-content: right;
    width: 250px;
    padding-right: 10px;
    border-right: 2.5px solid;
    font-size: 25px;
}

.info {
    padding-left: 10px;
}

.container {
    padding-top: 200px;
}