/* Setting box-model for website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Making website scroll smoothly */
html {
    scroll-behavior: smooth;
}

/* Setting background image */
body {
    background-image: url('187161.jpg');
    background-size: 100% auto;
}

/* Styling header - flex */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Coloring neon text - title */
.neonText {
    color: #F7E9FF;
    text-shadow:
        0 0 7px #F7E9FF,
        0 0 7px #EFD4FF,
        0 0 10px #E7BEFF,
        0 0 21px #DFA8FF,
        0 0 42px #7171FF,
        0 0 82px #F7E9FF,
        0 0 92px #F7E9FF,
        0 0 102px #F7E9FF,
        0 0 151px #3E3ECC;
}
  
/* Styling neon text - title */
h1 {
    font-size: 3.5rem;
    font-family: "Bungee Shade", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: auto;
}

/* Animating text - title */
.pulsate {
    animation: pulsate 1.5s infinite alternate;     
}

/* Coloring animation - title */
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #F7E9FF,
        0 0 11px #F7E9FF,
        0 0 19px #F7E9FF,
        0 0 40px #7171FF,
        0 0 80px #7171FF,
        0 0 90px #7171FF,
        0 0 100px #7171FF,
        0 0 150px #7171FF;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #B8B8FF,
      0 0 10px #B8B8FF,
      0 0 45px #7171FF,
      0 0 55px #4D4DFF,
      0 0 70px #4D4DFF,
      0 0 80px #4D4DFF;
  
  }
}

/* Positioning avatar */
main {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

/* Styling avatar */
main img {
    background: none;
    height: 300px;
    width: auto;
}

/* Resizing nav menu */
header nav {
    padding-left: 10px;
}

/* styling nav menu */
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

/* styling nav buttons */
nav ul li {
    font-family: 'Bungee Shade';
    font-weight: 400;
    margin-left: 10px;
    font-size: 18px;
}

/* Creating border for navigation bar */
nav li {
    border: 0.2rem solid #E7BEFF;
    border-radius: 2rem;
    padding: 0.5em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #4D4DFF,
                0 0 0.8rem #EFD4FF,
                0 0 2.8rem #4D4DFF,
                inset 0 0 1.3rem #EFD4FF;
}

/* Removing style from links */
a {
    text-decoration: none;
    color: inherit;
}

/* Resizing container */
.container {
    margin-left: 150px;
}

/* Setting responsiveness */
@media screen and (max-width: 768px) {
    article {
        display: flex;
        flex-direction: column;
    }
    .info {
        flex-direction: column;
    }
    .contact-info ul {
        flex-direction: column;
    }
}

/* Positioning articles */
article {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

/* Styling and positioning articles titles */
.title {
    display: flex;
    justify-content: right;
    width: 250px;
    padding-right: 10px;
    border-right: 2.5px solid;
    font-size: 25px;
}

/* Styling info Section */
.info {
    padding-left: 10px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.about-info {
    padding-left: 10px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
}

/* Resizing images */
.info img {
    width: 390px;
    height: 219px;
    margin: 10px;
}

/* Resizing first image */
.info div:first-child img {
    width: 800px;
    height: 450px;
    margin: 10px;
}

/* Creating image border */
img {
    background: linear-gradient(to right, #7171FF, #bc13fe);
    padding: 0.4rem;
}

/* Styling hover on images */
.info img:hover {
    border: blue solid;
}

/* Resizing contact info */
.contact-info {
    padding-left: 10px;
    width: 800px;
}

/* Styling contact info */
.contact-info ul{
    justify-content: space-evenly;
    height: 50px;
}

/* Styling contact info items */
.contact-info ul li{
    align-self: center;
    border-bottom: 2.5px solid;
}

/* Styling title images */
h3 {
    position: relative;
    left: 3%;
    bottom: 50px;
    background: linear-gradient(to right, #7171FF, #bc13fe);
    width: 110px;
}

/* Styling contact info */
.contact-info ul li {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 10px;
    font-size: 18px;
}