* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background-color: aquamarine;
}

header h1 {
    font-size: 40px;
    background-color: brown;
}

header nav {
    padding-left: 10px;
    background-color: blanchedalmond;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-left: 10px;
    border-bottom: 2px solid;
}

main {
    height: 400px;
    background-color: blue;
}

div {
    background-color: antiquewhite;
}

article {
    display: flex;
    justify-content: center;
    padding: 10px;
}

article div p {
    width: 1000px;
}

.title {
    display: flex;
    justify-content: right;
    width: 250px;
    padding-right: 10px;
    border-right: 2.5px solid;
    font-size: 25px;
}

.info {
    padding-left: 10px;
}